.Calendar__day {
    border: 1px solid black;
    margin: 2px;
    min-width: 100px;
    min-height: 100px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.Calendar__day__selection {
    height: 100%;
    font-size: 300%;
    vertical-align: middle;
    color: red;
    margin: 3px;
}