
@import '../Variables.scss';

.Calendar {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    font-weight: lighter;
    background-color: $background-color;
    color: $color;
    font-size: $font-size;
    min-width: 250px;
    margin: 3px;
}

.Calendar__Header {
    padding: 5px;
    background-color: $header-background;
    color: $header-color;
}

.Calendar__labels {
    display: grid; 
    grid-template-columns: repeat($columnCounts, auto);
    align-content: center;
    align-items: center;
}

.Calendar__body{
    display: grid; 
    grid-template-columns: repeat($columnCounts, auto);
    height: 100%;
}
