.Day {
    border: 1px solid black;
    margin: 3px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    min-width: 50px;
    min-height: 50px;
    :hover {
        font-weight: bold;
        color: black;
    }
    
}