.Day {
    border: 1px solid black;
    margin: 5px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    min-width: 50px;
    min-height: 50px;
}

.Day :hover {
    font-weight: bold;
    color: black;
}

